/** @format */
.woo-dashboard {
	display: grid;
	grid-template-columns: auto 360px;
	grid-template-rows: 47px auto;
	grid-gap: 0 40px;
	margin: 0;
	padding: 0;
	min-height: calc(100vh - 32px);

	@include breakpoint( '<782px' ) {
		min-height: calc(100vh - 46px);
	}
}

.woo-dash__header {
	grid-column: 1/span 2;
	min-height: 47px;
	margin: 0;
	padding: 8px 16px 8px 16px;
}

.woo-dash__primary {
	margin: 20px 0 0 20px;

	.woo-dash__main {
		margin: 0 auto;
		max-width: 640px;
	}
}

.woo-dash__secondary {
	background: $white;
	border-left: 1px solid $gray;
	padding: 2em;
}

.woo-dash__widget {
	display: flex;
	align-items: center;
	text-align: center;
}

.woo-dash__widget-item {
	flex: 1;
}
