button.link-button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	text-decoration: underline;
	color: #c9356e;
	cursor: pointer;

	&:focus {
		outline: 1px solid #c9356e;
		color: #c9356e;
	}
}
