.woocommerce-activity-panel {
	background: transparent;
	border: 0;

	.components-panel__body {
		background: #fff;
		border: 1px solid $gray-200;

		&.is-opened {
			margin-bottom: $gap-large;
		}
	}

	&.components-panel > .components-panel__body:last-child {
		border-bottom: 1px solid $gray-200;
	}

	.components-panel__row {
		margin: 0 -#{$gap} -#{$gap} -#{$gap};
		> div {
			width: 100%;
		}
	}

	.woocommerce-activity-panel {
		margin-bottom: $gap-large;
	}

	.components-panel__body-title p {
		margin-right: $gap;
	}

	.woocommerce-activity-card {
		padding: $gap-largest/2 $gutter $gutter;
		border: 0;

		&__header {
			margin-bottom: $gap-small;
		}
	}

	.woocommerce-empty-activity-card {
		background: transparent;
		margin: 0;
	}

	.woocommerce-layout__activity-panel-outbound-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		border-bottom: 1px solid $gray-100;
		padding: $gap $fallback-gutter;
		padding: $gap $gutter;
		font-size: 13px;
		font-weight: 500;
		line-height: 18px;
		margin: 0;
		text-decoration: none;

		.gridicon {
			display: none;
		}

		&:hover {
			background-color: $gray-100;
		}

		&:active {
			background-color: $gray-100;
		}

		&:focus {
			background-color: $gray-100;
			box-shadow: inset 0 0 0 1px $box-shadow-blue,
				inset 0 0 0 2px $gray-100;
		}

		&:hover,
		&:focus {
			.gridicon {
				display: initial;
			}
		}

		&:active {
			.gridicon {
				display: initial;
			}
		}
	}

	.woocommerce-layout__activity-panel-empty {
		border-top: 1px solid $gray-200;
		border-bottom: 0;
	}

	.woocommerce-activity-card__button {
		&:focus {
			box-shadow: unset;
			outline: unset;
			border: 1px solid $gray-200;
		}
	}
}
