.woocommerce-accordion-card {
	.components-panel__body-title {
		margin: 0;
		padding: 1em 0;
		.components-button {
			display: flex;
			flex-direction: row;
			width: 100%;
			padding-left: 24px;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			.woocommerce-accordion-header {
				order: 1;
				text-align: left;
				width: 50%;
				.woocommerce-accordion-title {
					vertical-align: bottom;
				}
			}
			& > span {
				order: 2;
				width: 50%;
				text-align: right;
				.components-panel__arrow {
					width: 30px;
					height: 30px;
					vertical-align: text-top;
				}
			}
		}
	}

	.woocommerce-activity-card__actions {
		margin: 0;
		.components-button {
			background: $gray-100;
			border-radius: 12px;
			height: 24px;
			padding-left: $gap;
			width: 65px;
		}
	}

	.woocommerce-activity-card {
		padding: ( $fallback-gutter / 2 ) $gutter;
		&__header {
			margin-bottom: $gap-smaller;
		}
	}
}

.components-panel__body-title {
	.woocommerce-accordion-card .is-opened & {
		border-bottom: 1px solid $gray-200;
	}
}
