
.woocommerce-settings__actions {
	margin-bottom: $gap-largest;
	text-align: right;

	@include breakpoint( '>1280px' ) {
	}

	button {
		margin-right: $gap;
	}

	button:last-child {
		margin-right: 0px;
	}
}
