.woocommerce-settings__wrapper{
	display:block;
	margin:auto;
	max-width:1032px;
}

.woocommerce-setting {
	display: block;
	margin-bottom: $gap-large;
	@include breakpoint( '<1280px' ) {
		flex-direction: column;
	}
}

.woocommerce-setting:last-child {
	margin-bottom: 0px;
}

.woocommerce-settings__section {
	display:flex;
}

.woocommerce-settings__title {
	display: block;
	width: 328px;
	margin-right:$gap-large;
}

.woocommerce-settings__group {
	max-width:680px;
	flex-grow:100;
}

.woocommerce-setting__label {
	@include font-size( 14 );
	margin-bottom: $gap-smaller;
	padding-right: $gap;
	font-weight: 600;
	color:#000;
	@include breakpoint( '>1280px' ) {
	}
}

.woocommerce-setting__input {
	display: flex;
	flex-direction: column;
	@include breakpoint( '>1280px' ) {
	}

	label {
		width: 100%;
		display: block;
		margin-bottom: $gap-small;
	}

	.woocommerce-filters-filter label {
		margin-bottom: 0;
	}

	button:not(.components-tab-panel__tabs-item) {
		margin-bottom: $gap-small;
		align-self: flex-start;
	}

	.components-base-control__field {
		display: flex;
	}

	.woocommerce-filters-date__content-controls {
		padding-bottom: 0;
	}
}

.woocommerce-setting__options-group-label {
	display: block;
	font-weight: bold;
	margin-bottom: $gap-small;
}

.woocommerce-setting__help {
	color: $black;
	margin-bottom:$gap;
}
