/** @format */

.woocommerce-view-more-list {
	list-style: none;
}

.woocommerce-view-more-list__item,
.woocommerce-view-more-list__popover__item {
	display: inline;
}

.woocommerce-view-more-list__tag {
	padding-left: 4px;
	margin: 0 0 0 $gap-smallest;
	vertical-align: middle;

	.rtl & {
		margin: 0 $gap-smallest 0 0;
	}
}

.woocommerce-view-more-list__popover {
	padding: $gap;
	text-align: left;
}

.woocommerce-view-more-list__popover__item {
	display: block;
	margin: $gap 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
