.woocommerce-customer-effort-score {

	.woocommerce-customer-effort-score__buttons {
		text-align: right;
		.components-button {
			margin-left: 1em;
		}
	}

	.components-radio-control {
		margin: 1em 0;
	}

	// Emoji radio button container
	.components-base-control__field {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr;
		color: var(--wp-admin-theme-color);

		@include breakpoint( '>600px' ) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	// Emoji radio button.
	.components-radio-control__option {
		.components-radio-control__input {
			display: none; // Hide the input and overlay with emoji text.
		}

		.components-radio-control__input:checked + label {
			background-color: #E4EBF3;
		}

		label{
			display: block;
			text-align: center;
			box-sizing: border-box;
			width: 9em;
			height: 100%;
			padding: 1em 0;
			font-size: 0.9em;

			&:hover {
				background-color: #E4EBF3;
			}

			&:before {
				display: block;
				font-size: 24px;
				text-align: center;
				margin: 1em 0;
				color: #0073aa;
			}
		}

		&:nth-child(1) {
			label:before {
				content: "😞";
			}
		}

		&:nth-child(2) {
			label:before {
				content: "🙁";
			}
		}

		&:nth-child(3) {
			label:before {
				content: "😐";
			}
		}

		&:nth-child(4) {
			label:before {
				content: "🙂";
			}
		}

		&:nth-child(5) {
			label:before {
				content: "😁";
			}
		}
	}
}
