@import 'node_modules/@automattic/color-studio/dist/color-variables.scss';

$transparent: rgba(255, 255, 255, 0);

// Greys
$core-grey-light-800: #b5bcc2;
$core-grey-light-900: #a2aab2;
$core-grey-dark-100: #86909b;
$core-grey-dark-150: #8d96a0;
$core-grey-dark-200: #78848f;
$core-grey-dark-300: #6c7781; // This & below have 4.5+ contrast against white
$core-grey-dark-400: #606a73;
$core-grey-dark-500: #555d66;
$core-grey-dark-600: #40464d;
$core-grey-dark-700: #32373c;
$core-grey-dark-800: #23282d;
$core-form-grey: #7e8993; // WP 5.3 form input border

$gray-text: $core-grey-dark-500;
$gray-text-hover: $core-grey-dark-800;

// Gutenberg
$button-hover: #fafafa;
$button-hover-border: #999;
$button-disabled: #a0a5aa;
$button-disabled-border: #ddd;
$button-focus-inner: #00435d;
$button-focus-outer: #bfe7f3;
$input-active-border: #00a0d2;
$input-active-inner: $button-focus-inner;
$input-active-outer: $button-focus-outer;

// Bright colors
$valid-green: #4ab866;
$notice-yellow: #ffb900;
$error-red: #d94f4f;
$box-shadow-blue: #5b9dd9;
$core-orange: #ca4a1f;

$button: #f0f2f4;
$button-border: darken($button, 20%);

// Blues
$core-blue-dark-900: #0071a1;
