.woocommerce-quick-links__category {
	display: flex;
	flex-flow: row wrap;

	.woocommerce-quick-links__category-header {
		margin: 8px 0;
		text-transform: uppercase;
		color: $gray-700;
		line-height: 16px;
		font-size: 11px;
		flex: 1 100%;
	}
}
