.woocommerce-marketing-knowledgebase-card {

	.woocommerce-pagination {
		justify-content: flex-start;

		&__page-arrows-label {
			display: none;
		}
	}

	&__page {
		width: 100%;
		display: flex;

		@include breakpoint( '<960px' ) {
			display: block;
		}
	}

	.components-spinner {
		float: none;
		margin: 45px auto 50px;
		display: block;
	}

	&__post {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		text-decoration: none;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		@include breakpoint( '>960px' ) {
			flex-wrap: nowrap;

			&:not(:last-child) {
				margin-bottom: 0;
				padding-right: 16px;
			}
		}

		&-img {
			// Make image container height relative to width
			width: 100%;
			padding-bottom: 67%;
			overflow: hidden;
			position: relative;
			flex: none;

			@include breakpoint( '>960px' ) {
				width: 150px;
				height: 100px;
				margin-right: 16px;
				padding-bottom: 0;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
			}
		}

		h3 {
			margin-top: 0;
			margin-bottom: 8px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			white-space: normal;
			color: $core-grey-dark-800;
		}

		&:hover {
			h3 {
				color: $core-blue-dark-900;
			}
		}

		&-meta {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 12px;
			line-height: 16px;

			.author {
				margin-right: 5px;
			}
		}
	}
}
