.woocommerce-slider-animation {
	margin-bottom: 16px;
}

.woocommerce-marketing-knowledgebase-card__page {
	width: 100%;
	display: flex;

	@include breakpoint( '<960px' ) {
		display: block;
	}
}


.woocommerce-marketing-knowledgebase-card {
	.components-spinner {
		float: none;
		margin: 45px auto 50px;
		display: block;
	}
}


.woocommerce-marketing-knowledgebase-card__post {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	@include breakpoint( '>960px' ) {
		flex-wrap: nowrap;

		&:not(:last-child) {
			margin-bottom: 0;
			padding-right: 16px;
		}
	}

	&-img {
		// Make image container height relative to width
		width: 100%;
		padding-bottom: 67%;
		overflow: hidden;
		position: relative;
		flex: none;

		@include breakpoint( '>960px' ) {
			width: 150px;
			height: 100px;
			margin-right: 16px;
			padding-bottom: 0;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
		}
	}

	h3 {
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		white-space: normal;
	}

	&-meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 12px;
		line-height: 16px;

		.author {
			margin-right: 5px;
		}
	}
}

.page-with-single-post {
	padding-right: 16px;

	.woocommerce-marketing-knowledgebase-card__post {
		> div {
			flex: 3;

			@include breakpoint( '<960px' ) {
				flex: 2;
			}
		}
	}
}

.woocommerce-pagination__page-arrows {
	display: inline-flex;
	align-items: baseline;
	border: 1px solid $button-border;
	border-radius: 4px;
	background: $button;

	.components-button {
		height: 30px;
		width: 32px;
	}

	.components-button:not(:disabled):not([aria-disabled='true']) {
		color: $wp-admin-sidebar;
		justify-content: center;
	}

	.components-icon-button:not(:disabled):not([aria-disabled='true']):hover {
		color: $core-grey-dark-300;
	}

	button:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 2px solid darken($button, 10%);
	}

	button:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.woocommerce-pagination__page-arrows-label {
	margin-top: $spacing / 2;
	margin-right: $spacing / 2;
}
