.woocommerce-layout__activity-panel-content {
	.woocommerce-inbox-message,
	.woocommerce-notification-panels > div {
		margin-top: $gap-large;
	}

	.woocommerce-abbreviated-cards {
		border-top: 1px solid $gray-200;
		& > div {
			border: none;
			margin-bottom: 0;
		}

		.woocommerce-abbreviated-card {
			a {
				text-decoration: none;
				display: flex;
				flex-direction: row;
				border-bottom: 1px solid $gray-200;

				h3 {
					color: var(--wp-admin-theme-color);
				}
				p,
				div {
					color: $gray-700;
				}
			}

			&__icon {
				display: flex;
				align-items: center;
				padding: $gap $gap-large;
				svg {
					fill: var(--wp-admin-theme-color);
				}
			}

			&__message {
				padding: $gap-small $gap-large $gap-small 0;
				& > :not(:first-child) {
					margin-top: $gap-smallest;
				}
			}

			&__critical-alert {
				color: $alert-red;
				padding: $gap-smallest / 2 $gap-smaller;
				background: $gray-100;
				border-radius: 3px;
			}
		}
	}
}
