/** @format */

.woo-dash__card {
	margin-bottom: 20px;
	background: white;
	border: 1px solid $gray;
}

.woo-dash__card-header {
	padding: 20px;
	border-bottom: 1px solid $gray;
	display: grid;
	align-items: center;
	height: 60px;

	.has-action & {
		grid-template-columns: 1fr 1fr;
	}

	.has-menu & {
		grid-template-columns: 1fr 50px;
	}

	.has-tabs & {
		grid-template-columns: 1fr auto;
	}

	.has-menu.has-action & {
		grid-template-columns: 1fr 1fr 50px;
	}

	.has-tabs.has-action & {
		grid-template-columns: 1fr 125px auto;
	}

	h2 {
		margin: 0;
	}
}

.woo-dash__card.has-tabs {
	h2 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-bottom: 20px;
	}

	.woo-dash__tabs-item {
		padding-bottom: 20px;
	}
}

@include breakpoint( '<600px' ) {
	.woo-dash__card-header {
		grid-template-columns: unset;
		display: flex;
		flex-direction: column;
	}

	.woo-dash__card.has-tabs {
		h2 {
			overflow: visible;
			padding-bottom: 0px;
			margin-top: -14px;
		}

		.woo-dash__tabs-item {
			padding-bottom: 8px;
		}
	}

	.woo-dash__card-settings {
		margin-top: 8px;
	}

	.woo-dash__card-action {
		position: absolute;
		right: 5px;
	}
}

.woo-dash__card-action,
.woo-dash__card-settings {
	text-align: right;
}

.woo-dash__card-body {
	padding: 20px;
}
