.woocommerce-task-list__item {
	.woocommerce-task-list__item-before .woocommerce-task__icon {
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}

	.woocommerce-task-list__item-before .woocommerce-task__icon svg {
		fill: $white;
		position: relative;
		top: 4px;
		left: 5px;
	}

	.woocommerce-task-list__item-text {
		.woocommerce-pill {
			padding: 1px $gap-smaller;
			margin-left: $gap-smaller;
		}
	}
}
