.woocommerce-card {
	margin-bottom: $gap-large;

	@include breakpoint( '<782px' ) {
		margin-bottom: $gap-small;
		width: auto;
	}

	&.is-inactive {
		background-color: $studio-gray-0;
	}

	&.has-action .components-card__header.is-size-large,
	&.has-menu .components-card__header.is-size-large {
		align-items: center;

		@include breakpoint( '<960px' ) {
			padding: ($gap - 3) $gap;
		}
	}

	&.has-action .components-card__header.is-size-large {
		grid-template-columns: auto 1fr;
	}

	&.has-menu .components-card__header.is-size-large {
		grid-template-columns: auto 24px;
	}

	&.has-menu.has-action .components-card__header.is-size-large {
		grid-gap: $gap-small;
		grid-template-columns: auto 1fr 24px;
	}

	.components-card__header.is-size-large {
		// to maintain consistent height with or without an ellipsis menu
		min-height: 63px;
		display: grid;
	
		// IE doesn't support `align-items` on grid container
		& > * {
			align-self: center;
		}
	
		h2 {
			margin: 0;
		}

		.woocommerce-card__description {
			margin-top: 4px;
		}
	}
}

.woocommerce-card__header-item {
	@include set-grid-item-position( 3, 3 );
	-ms-grid-row-align: center;
}

.woocommerce-card__action,
.woocommerce-card__menu {
	text-align: right;
}

.woocommerce-ellipsis-menu__toggle {
	padding: 0;
}
