/** @format */

.woocommerce-card {
	margin-bottom: $gap-large;
	background: $studio-white;
	border-radius: 0;
	border: 1px solid $core-grey-light-700;

	@include breakpoint( '<782px' ) {
		width: auto;
		border-left: none;
		border-right: none;
		margin-left: -16px;
		margin-right: -16px;
	}

	&.is-inactive {
		background-color: $studio-gray-0;
		box-shadow: none;
	}

	> .woocommerce-card__header {
		padding: ($gap - 3) $gap;
		border-bottom: 1px solid $core-grey-light-700;
		border-radius: 0;

		> .woocommerce-card__title-wrapper > .woocommerce-card__title {
			// EllipsisMenu is 24px, so to match we add 6px padding around the
			// heading text, which we know is 18px from line-height.
			padding: 3px 0;
			@include font-size( 15 );
			font-weight: 600;
		}
	}
}

.woocommerce-card__header {
	padding: $gap;
	display: grid;
	align-items: center;
	border-top-left-radius: 3px;
	border-top-left-radius: 4px;

	.has-action & {
		grid-template-columns: auto 1fr;
	}

	.has-menu & {
		grid-template-columns: auto 24px;
	}

	.has-menu.has-action & {
		grid-gap: $gap-small;
		grid-template-columns: auto 1fr 24px;
	}
}

.woocommerce-card__header-item {
	@include set-grid-item-position( 3, 3 );
	-ms-grid-row-align: center;
}

.woocommerce-card__action,
.woocommerce-card__menu {
	text-align: right;
}

.woocommerce-card__body {
	padding: $gap;
}

.woocommerce-ellipsis-menu__toggle {
	padding: 0;
}

.woocommerce-card__title {
	margin: 0;
	@include font-size( 24 );
	line-height: 1.2;
	font-weight: 400;
}

.woocommerce-card__description {
	@include font-size( 16 );
	line-height: 1.5;
	color: $studio-gray-50;
	margin-top: $gap-small;
	margin-bottom: 0;
	font-weight: 400;
}
