/** @format */

.woocommerce-icon-menu__toggle .dashicons-ellipsis {
	transform: rotate(90deg);
}

.woocommerce-icon-menu__popover {
	text-align: left;

	&:not(.is-mobile):before,
	&:not(.is-mobile):after {
		margin-left: -16px;
	}

	.components-popover__content {
		width: 182px;
		padding: 2px;
	}

	.woocommerce-icon-menu__content {
		width: 100%;
	}

	.woocommerce-icon-menu__title,
	.woocommerce-icon-menu__item {
		padding: 12px;
	}

	.woocommerce-icon-menu__item {
		&:focus {
			box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}

		.components-base-control__label {
			margin-bottom: 0;
		}
	}

	.woocommerce-icon-menu__title {
		color: #6c7781;
		padding-bottom: 8px;
	}

	.components-base-control {
		margin: 0;
	}
}
