@import 'node_modules/@wordpress/base-styles/colors';
@import 'node_modules/@wordpress/base-styles/variables';
@import 'node_modules/@wordpress/base-styles/mixins';
@import 'node_modules/@wordpress/base-styles/breakpoints';
@import 'node_modules/@wordpress/base-styles/animations';
@import 'node_modules/@wordpress/base-styles/z-index';
@import '_variables.scss';
@import '../components/container/style';
@import '../components/header/style';

.has-woocommerce-navigation {
	margin-top: -$admin-bar-height;

	#wpadminbar,
	#adminmenuwrap,
	#adminmenuback {
		display: none !important;
	}

	#woocommerce-embedded-navigation {
		position: fixed;
		top: 0;
		left: 0;
		width: $navigation-width;
		height: 100%;
		box-sizing: border-box;
		background-color: $gray-900;
		z-index: 1100;
	}

	&:not(.is-folded) {
		#wpcontent,
		#wpfooter {
			margin-left: $navigation-width;

			@media ( max-width: 960px ) {
				margin-left: 0;
			}
		}
	}

	&.is-folded {
		#wpcontent,
		#wpfooter {
			margin-left: 0;
		}

		.woocommerce-layout__header {
			margin-left: $header-height;
		}

		#woocommerce-embedded-navigation {
			width: $header-height;
			height: $header-height;

			.woocommerce-navigation-header > * {
				display: none;
			}

			.woocommerce-navigation-header__site-icon {
				display: block;
			}

			.components-navigation {
				display: none;
			}
		}
	}
}
