.woocommerce-profile-wizard__product-types {
	.components-base-control__field {
		display: flex;
	}

	.woocommerce-product-wizard__product-types__label {
		display: inline-block;
		margin-right: 12px;
	}
}
