.woocommerce-task-marketing {
	.components-card__header {
		flex-direction: column;
		align-items: flex-start;
		display: flex !important;

		h2 {
			align-self: start !important;
			color: $gray-900;
			font-size: 20px;
			margin-bottom: 0;
		}

		span {
			margin-left: 0;
			margin-top: $gap-smaller;
			color: $gray-700;
		}
	}

	.woocommerce-plugin-list__title {
		background: inherit;
		padding-top: $gap-larger;
		padding-bottom: $gap;

		h3 {
			text-transform: uppercase;
		}
	}

	.woocommerce-plugin-list__plugin {
		border-top: none;
		border-bottom: 1px solid #e0e0e0;
	}
}
