.woocommerce-layout__header-back-button {
	cursor: pointer;
	margin-left: $gutter-large;
	display: flex;
	order: -1;

	&:focus {
		box-shadow: inset -1px -1px 0 #757575, inset 1px 1px 0 #757575;
	}
}
