.woocommerce-layout__header-tasks-reminder {
	height: 40px;
	background-color: #007cba;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: #fff;
	}

	p {
		font-size: 13px;
		color: #fff;
	}
}
