.woocommerce-task-dashboard__body .woocommerce-task-dashboard__container .woocommerce-task-card {
	max-width: none;
}

.woocommerce-task-dashboard__container.two-column-experiment {
	ul {
		display: flex;
		li {
			display: block;
			width: 100%;
			border-right: 1px solid #e0e0e0;
			border-top: none;
			padding: 25px;
		}
		li:last-child {
			border-right: none;
		}
		li.is-active {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) transparent, inset 0 -4px 0 0 var(--wp-admin-theme-color);
		}

		li.is-active::after {
			background-color: var(--wp-admin-theme-color);
			opacity: 0.1;
			content: '';
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	.woocommerce-task-list__item:not(.complete) .woocommerce-task__icon {
		border: 1px solid var(--wp-admin-theme-color);
	}

	.woocommerce-task-list__item-before {
		display: block;
		padding: 0;
	}

	.woocommerce-task-list__item-text {
		display: block;
		padding: 0;
		margin-top: 10px;
	}

	.numbered-circle {
		justify-content: center;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	@for $i from 1 through 10 {
		.woocommerce-task-list__item:not(.complete).index-#{$i} .woocommerce-task__icon::after {
			content: '#{$i}';
			@extend .numbered-circle;
			color: var(--wp-admin-theme-color);
			font-weight: bold;
		}
	}
}
