/** @format */

.woocommerce-layout__header {
	background: transparent;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	box-sizing: border-box;
	padding: 0px;
	height: 47px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 99999; /* component-popover is 99990 */

	@include breakpoint( '<782px' ) {
		top: 46px;
		height: 50px;
		flex-flow: row wrap;
	}

	@include breakpoint( '782px-1100px' ) {
		height: 60px;
	}

	.woocommerce-layout__header-breadcrumbs {
		font-size: 13px;
		font-weight: normal;
		padding: 0 0 0 $gutter-large;
		flex: 1 auto;
		line-height: 47px;
		color: $white;

		span + span::before {
			content: ' / ';
			color: $white;
			margin: 0 2px 0 2px;
		}

		a {
			color: $white;
		}
	}
}
