
.woocommerce-timeline {
	ul {
		list-style-type: none;
		padding-left: 0;
	}

	.woocommerce-timeline-group {
		.woocommerce-timeline-group__title {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 12px;
			color: $studio-gray-90;
		}

		hr {
			float: right;
			width: calc(100% - #{ $gap-largest });
			// Color is according to design, we should probably find a suitable color variable.
			border: 0.5px solid #e3dfe2;
			margin: $gap-largest 0;
		}
	}

	.woocommerce-timeline-item {
		.woocommerce-timeline-item__title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: 16px;
			color: $studio-gray-80;
		}

		.woocommerce-timeline-item__headline {
			display: flex;
			flex-direction: row;
			align-items: center;

			span {
				padding: $gap;
			}

			svg {
				fill: $studio-white;
				background: $studio-gray-10;
				border-radius: 9999px;
				padding: $gap-smaller;
			}
		}

		.woocommerce-timeline-item__body {
			border-left: 1px solid $studio-gray-10;
			padding: $gap $gap-larger;
			margin-left: $gap;
			color: $studio-gray-60;
			font-size: 14px;
		}
	}
}

// Hide last <hr /> element.
.woocommerce-timeline ul :last-child.woocommerce-timeline-group hr:last-child {
	display: none;
}
