.woocommerce-list__item {
	display: flex;
	align-items: center;
	margin-bottom: 0;

	// Ideally, we'd get these from `@wordpress/base-styles`.
	// However, currently we are on an old version of `@wordpress/base-styles`,
	// and updating that causes compatibility issues with the version of
	// `@wordpress/components` that we are using, and updating that introduces
	// breaking changes that we would need to address elsewhere in the
	// `woocommerce-admin` codebase.
	//
	// https://github.com/woocommerce/woocommerce-admin/issues/4383

	$chevron-color: #1e1e1e; // $dark-gray-primary
	$background-color: $white;
	$background-color-hover: #f8f9f9; // $light-gray-100
	$border-color: #e7e8e9; // $light-gray-tertiary
	$foreground-color: theme(button); // $theme-color
	$foreground-color-hover: color($foreground-color shade(20%));

	background-color: $background-color;

	&:not(:first-child) {
		border-top: 1px solid $border-color;
	}

	&:hover {
		background-color: $background-color-hover;

		.woocommerce-list__item-title {
			color: $foreground-color-hover;
		}

		.woocommerce-list__item-before > svg {
			fill: $foreground-color-hover;
		}
	}

	&.has-action {
		cursor: pointer;
	}

	> .woocommerce-list__item-inner {
		text-decoration: none;
		width: 100%;
		display: flex;
		align-items: center;
		padding: $gap;

		&:focus {
			box-shadow: inset 0 0 0 1px $studio-wordpress-blue, inset 0 0 0 2px $studio-white;
		}
	}

	.woocommerce-list__item-title {
		display: block;
		font-size: 16px;
		line-height: 22px;
		color: $foreground-color;
	}

	.woocommerce-list__item-content {
		margin-top: $gap-smallest;
		display: block;
		font-size: 14px;
		line-height: 20px;
		color: #50575d;
	}

	.woocommerce-list__item-before {
		margin-right: 20px;
		display: flex;
		align-items: center;
	}

	.woocommerce-list__item-after {
		margin-left: $gap;
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.woocommerce-list__item-before > svg {
		fill: $foreground-color;
	}

	.woocommerce-list__item-after > svg {
		fill: $chevron-color;
	}
}
