.woocommerce-recommended-payments-card {
	margin: 0 15px 10px 0;

	.woocommerce-list__item-title {
		font-size: 14px;
		color: $gray-900;
		font-weight: 600;
	}

	.components-card__body {
		padding: 0;
	}
}
