

.woocommerce-layout__activity-panel-header {
	height: 50px;
	background: $core-grey-light-500;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint( '>782px' ) {
		padding: 16px 24px 16px 24px;
	}

	h3 {
		font-size: 13px;
		font-weight: 600;
		line-height: 16px;
		margin: 0;
		padding: 0;
	}

	.woocommerce-ellipsis-menu__toggle.components-button:not(:disabled):not([aria-disabled='true']):focus,
	.woocommerce-ellipsis-menu__toggle.components-button:not(:disabled):not([aria-disabled='true']):hover {
		box-shadow: none;
		border-radius: 10px;
		background: $core-grey-light-700;
	}
}

.woocommerce-layout__inbox-title {
	color: $dark-gray-primary;
}

.woocommerce-layout__inbox-subtitle {
	color: $medium-gray-text;
}

.woocommerce-layout__inbox-badge {
	margin-left: $gap-small / 2;
	background-color: $dark-gray-primary;
	border-radius: 13px;
	color: $white;
	display: inline-block;
	text-align: center;
	width: 27px;
	vertical-align: top;
}
