.woocommerce-tax-partners__partners {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.woocommerce-tax-partners {
	.components-card__body.is-size-medium {
		padding: $gap-larger;
	}

	.components-card__header {
		line-height: 28px;
	}
}

.woocommerce-tax-partners__other-actions {
	text-align: center;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;

	li {
		margin-top: $gap;
		margin-right: $gap-smallest;

		button.is-tertiary {
			padding: 0;
			height: auto;
		}

		&::after {
			content: '•';
			color: #bbb;
			margin-left: 4px;
		}

		&:last-child {
			margin-right: 0;
			&::after {
				content: '';
			}
		}
	}
}
