.woocommerce-marketing-coupons {
	padding-top: $gap;

	* {
		box-sizing: border-box;
	}

	.woocommerce-card {
		border-radius: 0;
	}

	.woocommerce-card__header {
		padding: $gap $gap-large;
		border-bottom: 1px solid $core-grey-light-500;
		border-radius: 0;
	}

	.woocommerce-card__title {
		font-size: 20px;
		line-height: 28px;
		font-weight: normal;
	}

	.woocommerce-card__description {
		font-size: 14px;
		line-height: 20px;
		font-weight: normal;
		margin-top: 4px;
	}

	.woocommerce-marketing-recommended-extensions-item {

		.woocommerce-admin-marketing-product-icon {
			transition: stroke 0.2s ease;
			transition: fill 0.2s ease;
			transition: background 0.2s ease;
			overflow: hidden;
			border: 1px solid $theme-color;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 24px;
				height: 24px;
				fill: $theme-color;
			}
		}

		&:hover {
			h4 {
				color: $theme-color;
			}
			.woocommerce-admin-marketing-product-icon {
				background: $theme-color !important;

				svg {
					fill: #fff !important;
				}
			}
		}
	}
}
