.woocommerce-marketing-coupons {
	padding-top: $gap;

	* {
		box-sizing: border-box;
	}

	.woocommerce-card {
		border-radius: 0;
	}

	.woocommerce-card__header {
		padding: $gap $gap-large;
		border-bottom: 1px solid $core-grey-light-500;
		border-radius: 0;
	}

	.woocommerce-card__title {
		font-size: 20px;
		line-height: 28px;
		font-weight: normal;
	}

	.woocommerce-card__description {
		font-size: 14px;
		line-height: 20px;
		font-weight: normal;
		margin-top: 4px;
	}

	.woocommerce-marketing-recommended-extensions-item {

		.woocommerce-admin-marketing-product-icon {
			transition: stroke 0.2s ease;
			transition: fill 0.2s ease;
			transition: background 0.2s ease;
			overflow: hidden;
			box-shadow: inset 0px 0px 0px 1px #3858E9;
		}

		&:hover {
			h4 {
				color: #3858E9;
			}
			svg {
				background: #3858E9;

				.stroke {
					stroke: #fff;
				}
				.fill {
					fill: #fff;
				}
			}
		}
	}
}
