@import '@wordpress/components/build-style/style';

#woocommerce-admin-print-label {
	.hndle,
	.handlediv {
		display: none;
	}

	.wc-admin-shipping-banner-illustration {
		float: left;
		margin: 5px 11px 50px -3px;
	}

	h3 {
		margin: 15px 0 1px;
		font-size: 1.15em;
	}

	p {
		max-width: 75%;
		margin: 3px 0 11px;
		font-size: 15px;
		line-height: 19px;
	}

	.components-button.is-button {
		padding: 0 30px;
		background: color(theme(button));
		border-color: color(theme(button));
		color: $white;
		text-decoration: none;
		text-shadow: none;

		&:hover,
		&:focus:enabled {
			background: color(theme(button) shade(10%));
			border-color: color(theme(button) shade(10%));
			color: $white;
		}

		&:focus:enabled {
			box-shadow:
				0 0 0 $border-width $white,
				0 0 0 3px color(theme(button));
		}

		&:active:enabled {
			background: color(theme(button) shade(20%));
			border-color: color(theme(button) shade(20%));
			color: $white;
		}
	}

	.notice-dismiss {
		top: -12px;
		right: 3px;
	}

}
