.woocommerce-page #wpcontent,
.woocommerce-page.woocommerce_page_wc-admin #wpbody-content {
	overflow-x: inherit !important; // Overwriting wc-admin css from elsewhere. Necessary to make the right-hand column 'stick'
}

.woocommerce-homescreen {
	display: flex;
	max-width: 1032px;
	margin: 0 auto;
	justify-content: space-between;

	.woocommerce-task-dashboard__container {
		width: 100%;
		margin-bottom: $gap-large;
	}

	&.hasInbox .woocommerce-homescreen-column {
		width: calc( 50% - 12px );
		margin: 0;

		@include breakpoint( '<782px' ) {
			width: 100%;
			position: inherit;
			top: auto;
		}
	}

	@include breakpoint( '<782px' ) {
		margin-left: -16px;
		margin-right: -16px;
		flex-direction: column-reverse;
	}
}
.woocommerce-homescreen-column {
	width: 50%;
	top: 130px;
	margin: 0 auto;
	align-self: flex-start;

	> div {
		margin-bottom: $gap-large;
	}
}
.temp-content {
	width: 100%;
	height: 300px;
	background-color: #9acd32;
}

.is-inbox .temp-content {
	height: 225px;
	background-color: #6495ed;
}

.woocommerce-homescreen-card {
	.components-card__header.is-size-large,
	.components-card__header.is-size-medium {
		min-height: 63px;
		min-height: unset;
		display: grid;
		grid-template-columns: auto 24px;

		// IE doesn't support `align-items` on grid container

		& > * {
			align-self: center;
		}
	}

	.components-card__body.is-size-large {
		padding: 0;
	}

	.components-card__footer.is-size-large {
		padding: 0 $gap-smaller;
	}
}

// The welcome modal is presented outside the homescreen class namespace
.components-guide.woocommerce__welcome-modal {
	max-width: 517px;
	height: 460px;

	.components-modal__header {
		height: 0;

		.components-button {
			color: $white;
		}
	}

	.components-guide__container {
		margin-top: 0;

		.woocommerce__welcome-modal__page-content {
			padding: 0 24px;

			.woocommerce__welcome-modal__page-content__header {
				font-size: 24px;
				line-height: 32px;
				margin: 0 0 24px 0;
			}

			.woocommerce__welcome-modal__page-content__body {
				font-size: 16px;
				line-height: 24px;
				margin: 0 0 24px 0;
			}
		}
	}

	.components-guide__footer {
		padding: 0;
		margin: 0 24px 24px 24px;
		justify-content: flex-end;
		width: initial;

		.components-guide__finish-button,
		.components-guide__forward-button,
		.components-guide__back-button {
			position: initial;
			padding: 10px 16px;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
		}

		.components-guide__forward-button,
		.components-guide__back-button {
			color: var( --wp-admin-theme-color );
		}

		.components-guide__forward-button,
		.components-guide__finish-button {
			margin-left: 10px;
		}

		.components-guide__forward-button {
			box-shadow: inset 0 0 0 1px var( --wp-admin-theme-color );
			outline: 1px solid transparent;
		}
	}
}
