

.woocommerce-transient-notices {
	position: fixed;
	bottom: $gap-small;
	z-index: 99999;

	@media (max-width: 960px) {
		left: 50px;
	}

	@media (max-width: 782px) {
		left: $gap;
	}

	.components-snackbar {
		margin-left: auto;
		margin-right: auto;
	}
}
